* {
  font-family: 'Inter', sans-serif;
}

.card-body,
.card {
  min-width: 450px;
  max-width: 640px;
}

@media all and (max-width: 450px) {
  .card-body,
  .card {
    max-width: 320px;
    min-width: 220px;
  }

  .card-body {
    padding: 20px 10px;
  }

  .card {
    margin-right: 50px;
  }

  .check-label {
    padding: 0px;
  }
}

label {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'] {
  min-height: 40px !important;
}

.check-label {
  padding: 10px;
  box-shadow: 2px 1px 2px 1px rgb(201, 201, 201);
  min-width: 130px;
  height: 60px;
  border-radius: 6px;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[name='businessType'] {
  display: none;
}

input[name='businessType']:checked ~ label {
  border: 2px solid #007bff;
  color: #007bff;
}

.myInputStyle {
  padding-top: 20px;
}

.myInputStyle-label {
  position: absolute;
  font-size: 13px;
  font-weight: 300;
  bottom: 2px;
  left: 10px;
  transition: 0.4s ease all;
}

.myInputStyle:focus ~ label,
.myInputStyle:valid ~ label {
  bottom: 15px;
  font-size: 11px;
}

.test {
  bottom: 15px;
  font-size: 11px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.range-holder {
  height: 55px;
  border: 3px solid #8e97ab;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 6px;
  padding: 10px 0;
  padding-top: 50px;
}

.innerValue {
  justify-self: center;
  align-self: center;
}

#range-inValue,
#loan-inValue {
  font-size: 20px;
  font-weight: 500;
}

.innerValue .subtext {
  font-size: 14px;
}

.range-holder input {
  position: relative;
  bottom: -13px;
}

.grey-out {
  color: #8e97ab;
}

input[type='range'] {
  -webkit-appearance: none;
  height: 4px;
  border-radius: 0 0 6px 6px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  outline: none;
  background: #8e97ab;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url('./icons/arrow.svg');
  background-size: cover;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url('./icons/arrow.svg');
  background-size: cover;
  cursor: pointer;
}

@media all and (max-width: 640px) {
  /* .mobile-row{
		display: flex;
		justify-content: flex-start;
		flex-direction: row-reverse;
		align-items: center;
	}
 */

  .sw.sw-justified > .nav .nav-link,
  .sw.sw-justified > .nav {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
  }
  .nav li a {
    font-size: 12px;
  }
}
